#myImage {
float: right;
}

#login{
background-color: red;
color: white;
padding:10px 10px 10px 10px ;
border-radius: 10px;
text-decoration: none;

}
#signup{
    color: black;
padding:10px 10px 10px 10px ;
text-decoration: none;

}

@font-face {
    font-family: Ana;
    src: url(Anastasia.otf);
}

h1{
    padding-left: 30px;
  font-family: Ana;
  font-size: 60px;

}